*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
#header_section{
    width: 100%;
    /* height: 85vh; */
    height: 90vh;
    position: relative;
}
#header_section::before{
    content: '';
    background: url(./Assets/images/hero.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
nav{
    z-index: 2 !important;
}
#header_section .title{
    z-index: 2 !important;
    transform: translate(-50% -50%);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
}
#header_section .title h1{
    font-size: 48px;
    font-weight: 500;
    background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#header_section .title h2{
    font-size: 42px;
    font-weight: 500;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
nav ul li {
    transition: ease-in .2s;
}
nav ul li:hover{
    transform: scale(1.1);
    text-decoration: underline;
 
}