*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* header started */
#header_section{
    width: 100%;
    /* height: 85vh; */
    height: 90vh;
    position: relative;
}
#header_section::before{
    content: '';
    background: url(./Assets/images/hero.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
nav{
    z-index: 2 !important;
}
#header_section .title{
    z-index: 1 !important;
    transform: translate(-50% -50%);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
}
#header_section .title h1{
    font-size: 48px;
    font-weight: 500;
    background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#header_section .title h2{
    font-size: 42px;
    font-weight: 500;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title .row{
    margin-top: 5rem;
}
nav ul li {
    transition: ease-in .2s;
    text-align: center;
}
nav ul li:hover{
    transform: translateY(-3px);
    text-decoration: underline;
 
}
@media screen and (max-width:774px){
    #header_section .title h1{
        font-size: 40px;
        font-weight: 400;
    }
    #header_section .title h2{
        font-size: 36px;
        font-weight: 400;
    }
    
.title .row{
    margin-top: 10rem;
}
}
/* header ended */
/* About started */
#about_section{
    width: 100%;
    height: 100%;

}
.heading{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: darkgrey;
    font-weight: 500;
    font-size: 48px;
}
.underline{
    width: 100px;
    height: 2px;
    background-color: #4b134f;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#about_section .container .row .col img{
    display:block;
    max-width: 90%;
    max-height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
#about_section .container .row .col p{
    padding: 5px;
    text-align: justify;
}
#about_section .container{
    margin-top: 4rem;
}
@media screen and (max-width:774px){
    #about_section .container{
        margin-top: 1rem;
    }
    #about_section .container .row .col p{
        padding: 1px;
        text-align: justify;
        margin-top: -10rem;
    }
}
/* About ended */
/* skills started */
#skills_section{
    width: 100%;
    height: 100%;
    background-color:rgba(232, 232, 232, 0.2) ;
}
/* skills ended */