

body{
    color: white;
    overflow-x: hidden;
}
/* header started */
nav ul{
    width: 100%;
}
.navbar-brand{
    padding-bottom: 1rem !important;
    padding-right: 1rem !important;
    font-size: 32px !important;
}
nav .d-flex{
    width: 40%;
    margin-top: 0.2rem !important;
    margin-left: 22rem !important;
}
nav .d-flex li a {
    padding: 8px 16px !important;
    margin-right: 1rem !important;
    border-radius: 28px;
}

nav .d-flex li a:hover{
    border-radius: 28px;
    border:1px solid black;
}
#header_section{
    width: 100%;
    height: 100%;
}
#header_section{
    background-color: #f7b42c;
    width: 100%;
    height: 80vh;
    /* background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);*/
     background-image: linear-gradient(315deg,hsl(13, 100%, 72%) 0%,hsl(353, 100%, 62%) 74%);
    position:relative;
    border-bottom-left-radius: 6rem;
}
#header_section::before{
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(./images/bg-pattern-intro.svg)  no-repeat  ;
    background-position: right;
    background-size: cover;
    position: absolute;

}
#header_section .col{
    z-index: 1 !important;
    transform: translate(-50% -50%);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    color: white;
}
#header_section .row .col  a{
    color: white;
    border:1px solid;
    border-radius: 24px;
    margin-right: 1rem !important;
}
#header_section .row .col  a:hover{
    color:red ;
    background-color: white;
}    
#header_section .row .col h1{
    text-transform: capitalize;
    font-weight: 500;
}
@media screen and (max-width:990px){
    nav .d-flex{
        width: 100%;
        margin-left: 0 !important;
    }   
}
/* #esign_for_future_section started */
#design_for_future_section{
    margin-top: 4rem;
    position: relative;
    width: 100%;
    height: 100vh;
    
}
#design_for_future_section::before{
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(./images/illustration-editor-desktop.svg)  no-repeat  ;
    background-position: right bottom;
    background-size: contain;
    position: absolute;
    margin-top: 4rem;
    transform: translatex(10rem);
    z-index: -1;
}
.heading{
    width: 100%;
    text-align: center;
}
.heading h1{
    text-transform: capitalize;
    font-weight: 500;
}
#design_for_future_section .row .col{
    z-index: 2;
}
#design_for_future_section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    margin-top: 7rem;
    /* padding: 1rem; */
}
#design_for_future_section .container p{
    text-align: justify;
}

/* design_for_future_section ended */
/* art setion started */
#art_section::before{
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(./images/bg-pattern-circles.svg)  no-repeat  ;
    background-position: left ;
    background-size:55% 230%;
    position: absolute;
    z-index: -3;
    transform: translateX(3rem);
    overflow: hidden;
    /* width: 50%;
    height: 50%; */
}
#art_section{
    margin-top: 6rem;
    position: relative;
    width: 100%;
    /* height: %; */
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    background-color:#2d2e40;
    z-index: -2;
}
#art_section .row .col img{
    margin-left: 5rem;
    transform: translateY(-8rem);
    z-index: 2;
    
}
 #art_section .row .col{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    color: white;
} 
#art_section .row .col .container{
    transform: translateY(6rem);
    /* transform: translateX(-1rem); */
    left: 0;
    padding: 1rem;
}

/* art setion ended */
/* feature section started */
#features_section{
    margin-top: 10rem;
    position: relative;
    width: 100%;
    height: 100%;
    color:#2d2e40;
    z-index: -2; 
}
/* #features_section img{
    width: 100%;
    height: 100%;
}  */
/* feature section ended */