nav ul{
    width: 100%;
}
nav .d-flex{
    width: 40%;
    margin-left: 22rem !important;
}
nav .d-flex li{
    /* transition :0.4s ease-in; */
    padding: 2px 12px;
    border: 1px solid;
    margin-left: 5px;
    width: 100px;
    justify-content: center;
    border:none;
}
nav .d-flex li :hover{
    border-radius: 8px;
    border:1px solid black;
}
#