nav ul{
    width: 100%;
}
nav .d-flex{
    width: 40%;
    margin-top: 0.2rem !important;
    margin-left: 22rem !important;
}
.login{
    /* transition :0.4s ease-in; */
    padding: 2px 8px 2px 28px !important;
    border: 1px solid;
    margin-left: 5px;
    width: 100px;
    justify-content: center;
    border:none;
}
.signup{
    /* transition :0.4s ease-in; */
    padding: 2px 8px 2px 20px !important;
    border: 1px solid;
    margin-left: 5px;
    width: 100px;
    justify-content: center;
    border:none;
}
nav .d-flex li :hover{
    border-radius: 28px;
    border:1px solid black;
}

@media screen and (max-width:990px){
    nav .d-flex{
        width: 100%;
        margin-left: 0 !important;
    }   
}