#weather_section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
  width: 100%;
}
body {
  background: url(./Assets/sunset.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}
.inner__container{
   
    border-radius: 28px;
    z-index: 1;
    background-color: rgba(17, 138, 178,0.6);
    color: white;
}
input{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    padding: 5px !important;
    color: white;
    width: 40%;
}
::placeholder{
    color: white;
}
input:focus{
    cursor: pointer;
    outline: none;
    background-color: transparent;
}


@media screen and (max-width:400px){
    #weather_section {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 80vh;
        width: 100%;
      }

}