.container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 90vw;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}
@media screen and (max-width:678px){
    h1{
        text-transform: capitalize;
    }
}

@media screen and (max-width:1024px),(orientation:landscapr){
    h1{
        
        text-transform: capitalize;
    text-decoration: underline;
}
}