*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1604346782646-13dac014c258?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8Ym84alFLVGFFMFl8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: sans-serif;
}
button{
    margin-top: 100px;
    border-radius: 0;
    border :3px solid  #003049;
    padding: 12px 24px;
    background-color: transparent;
    font-size: medium;
    font-weight: 600;
    color: #003049;
}
button:active{
    border: none;
}
button:hover{
    color: lightsalmon;
    transition:  ease-in 0.3s;
    border: 2px solid ;
    /* box-shadow: 5px 4px 2px 1px aqua; */
    box-shadow: 0 8px 6px -6px #e63946;
    transform: translateY(-5px);
}